.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1200px;
    /* Ajusta el valor según tus necesidades */
    margin: 0 auto;
    /* Para centrar el contenedor horizontalmente */
  }
  
  
  .head-form {
    background-color: rgb(238, 238, 242);
  }
  
  .div-span {
    margin-top: 7px;
    /* para bajar los radio buttons de las tarjetas */
  }
  
  i {
    margin-top: 8px;
  }
  
  /* para bajar los radio buttons de las tarjetas */